@charset "utf-8";

@import "common.css";
@import "fonts.css";

 /* wrap */
body {width:100%;height:100%;font-family:NanumBG; color:#333; background-color:#f4f3dc;}

#detail_pop {width:800px; height:100%; margin:0 auto;}
#detail_pop h2 {font-size:40px; margin:50px 0 30px 0; color:#484848}
#detail_pop p{font-size:16px; line-height:24px; margin-bottom:30px; color:#484848}
#detail_pop ul li {padding:20px 0; border-top: 1px dashed #7c7c7c}
