@charset "utf-8";

@import "common.css";
@import "fonts.css";

 /* wrap */
body {width:100%;height:100%;font-family:NanumBG; color:#333; background: url(../images/bg.jpg) repeat-x 0 0;}

/**/
.mal22 {margin-left:22px;}
.pat30 {padding-top:30px;}

/* quickmeuu */
#q_menu {position:fixed; right:30px; top:50%; z-index:3;}
#q_menu ul li {position: relative;}
#q_menu ul li span {display: none; font-size:13px; color:#fff; letter-spacing:0.5px; padding:5px 5px 3px 5px; position:absolute; right: 25px;top:-3px; border:1px solid #fff; text-align:right; background:hsla(0, 0%, 0%, 0.1);}
#q_menu ul li a {display: block; border-radius:50%; background:#ffd196; height: 20px;width: 20px; margin-bottom: 13px; overflow: hidden; text-indent: -9999em; 
    transition:all 0.3s linear;
    -webkit-transition:all 0.3s linear;
    -ms-transition:all 0.3s linear;
    -moz-transition:all 0.3s linear;
    }
#q_menu ul li a:hover { background:#cdff00; }

/**/
#container {width:1400px; height:100%; margin:0px auto;}
#container:after {content:""; display:block; clear:both}
.content_box {width:1210px; height:100%; margin:85px auto;}
.content_box2 {width:1130px; height:600px; margin:85px auto;}
/*section0*/
#section0 {width:1400px; height:800px; background: url(../images/home_bg.jpg) no-repeat 0 0; float:left;} 

#content0 {width:1052px; height:500px; margin:170px auto;}
#content0 h1 {opacity:0.9;}
#content0 h1:hover {opacity:1.0;}

#content0 .gnb {width:550px; margin:70px auto; text-align:center;}
#content0 .gnb ul li {font-size:30px; line-height:50px; font-family:"Arial"}
#content0 .gnb ul li a {color:#fff; transition:all 0.3s linear;
    -webkit-transition:all 0.3s linear;
    -ms-transition:all 0.3s linear;
    -moz-transition:all 0.3s linear; }
#content0 .gnb ul li a:hover {color:#cdff00}


/*section1*/
#section1 {width:1400px; height:1370px; background: url(../images/section1_bg.jpg) no-repeat 0 0; float:left;} 
#section1 h2 {margin-left:4px;}
#section1 dt {width:316px; height:204px; background-color:rgba(248, 248, 248, 0.5); margin:96px 0 113px 50px; float:left; padding:50px;}
#section1 dt h3 {font-size:24px; font-weight:bold; color:#292929;}
#section1 dt ul {margin-top:24px;}
#section1 dt ul li {margin-top:10px; font-size:14px;}
#section1 dt ul li span:first-child {color:#333;}
#section1 dt ul li span:nth-child(2) {color:#595959;}
#section1 dt p a {display:block; width:140px; height:50px; text-align:center; line-height:52px; border:3px solid #333; float:left; margin-top:30px;
	transition:all 0.2s linear;
    -webkit-transition:all 0.2s linear;
    -ms-transition:all 0.2s linear;
    -moz-transition:all 0.2s linear;}
#section1 dt p a:hover {background-color: #333; color:#fff}
#section1 dd {float:right; margin:74px 40px 59px 0;}

/*section2*/
#section2 {width:1400px; height:800px; background: url(../images/section2_bg.jpg) no-repeat 0 0; float:left;} 
#section2 h2 {float:right; margin-right:6px}
#section2 dl {clear:both;}
#section2 dt {width:316px; height:204px; background-color:rgba(56, 131, 143, 0.7); margin:93px 100px 0 0; float:right; padding:50px;}
#section2 dt h3 {font-size:24px; font-weight:bold; color:#fff;}
#section2 dt ul {margin-top:24px;}
#section2 dt ul li {margin-top:10px; font-size:14px;}
#section2 dt ul li span:first-child {color:#fff;}
#section2 dt ul li span:nth-child(2) {color:#d6f3f3;}
#section2 dt p a {display:block; color:#fff; width:140px; height:50px; text-align:center; line-height:52px; border:3px solid #fff; float:left; margin-top:30px;
	transition:all 0.2s linear;
    -webkit-transition:all 0.2s linear;
    -ms-transition:all 0.2s linear;
    -moz-transition:all 0.2s linear;}
#section2 dt p a:hover {background-color: #e5d971; border:3px solid #e5d971;  color:#38828f}
#section2 dd {float:left; margin:54px 0 0 10px;}

/*section3*/
#section3 {width:1400px; height:800px; background: url(../images/section3_bg.jpg) no-repeat 0 0; float:left;} 

#section3 .skill {width:520px; height:320px; margin-top:170px; float:left;}
#section3 .skill ul {margin-top:30px;}
#section3 .skill ul li {width:517px; height:46px; margin-top:12px; position: relative; cursor:pointer;}
#section3 .skill ul li span {float:left; display:block; width:123px; height:46px; background: url(../images/section3_graph_stt_bg.png) no-repeat 0 0; color:#fff; line-height:50px; padding-left:10px;}
#section3 .skill ul li p {position: absolute; top:0; left:133px; width:384px; height:46px; background: url(../images/section3_graph_img_on.png) no-repeat 0 0; font-size:20px; color:#fff;
										 text-align: center; line-height:48px; opacity:0}
#section3 .skill>p {float:right; font-size:24px; color:#fff; padding:18px 0 0 20px; background: url(../images/topblet.png) no-repeat 0 26px;}										 

#section3 .edu {float:right; width:540px; height:490px; background-color:rgba(58, 58, 58, 0.5);}
#section3 .edu dl {margin:40px;}
#section3 .edu dt {color:#fff; font-size:25px; border-bottom:2px solid #fff; font-weight:bold}
#section3 .edu dd {color:#fff; line-height:40px; font-size:18px;}

/*section4*/
#section4 {width:1400px; height:700px; background: url(../images/section4_bg.jpg) no-repeat 0 0; float:left;} 
#section4 h2 {width:388px; height:80px; clear:both; margin:0 auto; padding-top:110px}
#section4 ul {margin-top:60px;}
#section4 ul li {font-size:24px; text-align:center; margin-top:20px; color:#fff}
#top {position:fixed; top:90%; right:20px; z-index:2; width:20px; height:20px; border:2px solid #fff; text-align:center}

/* footer */
#footer {clear:both; width:1400px; margin:0px auto;}
#footer p {text-align:center; padding-top:10px; color: #808080; font-size:16px; text-transform: uppercase; }