@charset "utf-8";

#container04 .conbody04, #conbody06, #contents .conbody05 {
	animation: conbody 2s 1 ease-in-out;
	-moz-animation: conbody 2s 1 ease-in-out;
	-webkit-animation: conbody 2s 1 ease-in-out;
	-ms-animation: conbody 2s 1 ease-in-out;
	-o-animation: conbody 2s 1 ease-in-out;
	}
@keyframes conbody{
				0%{opacity:0}
				60%{opacity:0}
				100%{opacity:1}
}
@-moz-keyframes conbody{
				0%{opacity:0}
				60%{opacity:0}
				100%{opacity:1}
}
@-webkit-keyframes conbody{
				0%{opacity:0}
				60%{opacity:0}
				100%{opacity:1}
}
@-ms-keyframes conbody{
				0%{opacity:0}
				60%{opacity:0}
				100%{opacity:1}
}
@-o-keyframes conbody{
				0%{opacity:0}
				60%{opacity:0}
				100%{opacity:1}
}


/* sub1 */
#container01 .conbody01 .abtxt blockquote {
	animation: blockq 3s 1 ease-in-out;
	-moz-animation: blockq 3s 1 ease-in-out;
	-webkit-animation: blockq 3s 1 ease-in-out;
	-ms-animation: blockq 3s 1 ease-in-out;
	-o-animation: blockq 3s 1 ease-in-out;
}
@keyframes blockq{
				0%{opacity:0; transform:translateY(-10px)}
				45%{opacity:0; transform:translateY(-10px)}
				55%{opacity:1; transform:translateY(0)}
				100%{opacity:1; transform:translateY(0)}
}
@-moz-keyframes blockq{
				0%{opacity:0; transform:translateY(-10px)}
				45%{opacity:0; transform:translateY(-10px)}
				55%{opacity:1; transform:translateY(0)}
				100%{opacity:1; transform:translateY(0)}
}
@-webkit-keyframes blockq{
				0%{opacity:0; transform:translateY(-10px)}
				45%{opacity:0; transform:translateY(-10px)}
				55%{opacity:1; transform:translateY(0)}
				100%{opacity:1; transform:translateY(0)}
}
@-ms-keyframes blockq{
				0%{opacity:0; transform:translateY(-10px)}
				45%{opacity:0; transform:translateY(-10px)}
				55%{opacity:1; transform:translateY(0)}
				100%{opacity:1; transform:translateY(0)}
}
@-o-keyframes blockq{
				0%{opacity:0; transform:translateY(-10px)}
				45%{opacity:0; transform:translateY(-10px)}
				55%{opacity:1; transform:translateY(0)}
				100%{opacity:1; transform:translateY(0)}
}

#container01 .conbody01 .abtxt dl.ani1 {
	animation: aboutdl1 3s 1 ease-in-out;
	-moz-animation: aboutdl1 3s 1 ease-in-out;
	-webkit-animation: aboutdl1 3s 1 ease-in-out;
	-ms-animation: aboutdl1 3s 1 ease-in-out;
	-o-animation: aboutdl1 3s 1 ease-in-out;
}
@keyframes aboutdl1{
				0%{opacity:0; transform:translateY(-10px)}
				50%{opacity:0; transform:translateY(-10px)}
				60%{opacity:1; transform:translateY(0)}
				100%{opacity:1; transform:translateY(0)}
}
@-moz-keyframes aboutdl1{
				0%{opacity:0; transform:translateY(-10px)}
			    50%{opacity:0; transform:translateY(-10px)}
				60%{opacity:1; transform:translateY(0)}
				100%{opacity:1; transform:translateY(0)}
}
@-webkit-keyframes aboutdl1{
				0%{opacity:0; transform:translateY(-10px)}
				50%{opacity:0; transform:translateY(-10px)}
				60%{opacity:1; transform:translateY(0)}
				100%{opacity:1; transform:translateY(0)}
}
@-ms-keyframes aboutdl1{
				0%{opacity:0; transform:translateY(-10px)}
				50%{opacity:0; transform:translateY(-10px)}
				60%{opacity:1; transform:translateY(0)}
				100%{opacity:1; transform:translateY(0)}
}
@-o-keyframes aboutdl1{
				0%{opacity:0; transform:translateY(-10px)}
				50%{opacity:0; transform:translateY(-10px)}
				60%{opacity:1; transform:translateY(0)}
				100%{opacity:1; transform:translateY(0)}
}

#container01 .conbody01 .abtxt dl.ani2 {
	animation: aboutdl2 3s 1 ease-in-out;
	-moz-animation: aboutdl2 3s 1 ease-in-out;
	-webkit-animation: aboutdl2 3s 1 ease-in-out;
	-ms-animation: aboutdl2 3s 1 ease-in-out;
	-o-animation: aboutdl2 3s 1 ease-in-out;
}
@keyframes aboutdl2{
				0%{opacity:0; transform:translateY(-10px)}
				55%{opacity:0; transform:translateY(-10px)}
				65%{opacity:1; transform:translateY(0)}
				100%{opacity:1; transform:translateY(0)}
}
@-moz-keyframes aboutdl2{
				0%{opacity:0; transform:translateY(-10px)}
				55%{opacity:0; transform:translateY(-10px)}
				65%{opacity:1; transform:translateY(0)}
				100%{opacity:1; transform:translateY(0)}
}
@-webkit-keyframes aboutdl2{
				0%{opacity:0; transform:translateY(-10px)}
				55%{opacity:0; transform:translateY(-10px)}
				65%{opacity:1; transform:translateY(0)}
				100%{opacity:1; transform:translateY(0)}
}
@-ms-keyframes aboutdl2{
				0%{opacity:0; transform:translateY(-10px)}
				55%{opacity:0; transform:translateY(-10px)}
				65%{opacity:1; transform:translateY(0)}
				100%{opacity:1; transform:translateY(0)}
}
@-o-keyframes aboutdl2{
				0%{opacity:0; transform:translateY(-10px)}
				55%{opacity:0; transform:translateY(-10px)}
				65%{opacity:1; transform:translateY(0)}
				100%{opacity:1; transform:translateY(0)}
}

#container01 .conbody01 .abimg  {
	animation: abimg 3s 1 ease-in-out;
	-moz-animation: abimg 3s 1 ease-in-out;
	-webkit-animation: abimg 3s 1 ease-in-out;
	-ms-animation: abimg 3s 1 ease-in-out;
	-o-animation: abimg 3s 1 ease-in-out;
}
@keyframes abimg{
				0%{opacity:0;}
				65%{opacity:0;}
				90%{opacity:1;}
				100%{opacity:1;}
}
@-moz-keyframes abimg{
				0%{opacity:0;}
				65%{opacity:0;}
				90%{opacity:1;}
				100%{opacity:1;}
}
@-webkit-keyframes abimg{
				0%{opacity:0;}
				65%{opacity:0;}
				90%{opacity:1;}
				100%{opacity:1;}
}
@-ms-keyframes abimg{
				0%{opacity:0;}
				65%{opacity:0;}
				90%{opacity:1;}
				100%{opacity:1;}
}
@-o-keyframes abimg{
				0%{opacity:0;}
				65%{opacity:0;}
				90%{opacity:1;}
				100%{opacity:1;}
}

#container01 .conbody01 p.back {
	animation: bkprofile 1.5s 1 ease-in-out;
	-moz-animation: bkprofile 1.5s 1 ease-in-out;
	-webkit-animation: bkprofile 1.5s 1 ease-in-out;
	-ms-animation: bkprofile 1.5s 1 ease-in-out;
	-o-animation: bkprofile 1.5s 1 ease-in-out;
}
@keyframes bkprofile{
				0%{opacity:0;}
				100%{opacity:1;}
}
@-moz-keyframes bkprofile{
				0%{opacity:0;}
				100%{opacity:1;}
}
@-webkit-keyframes bkprofile{
				0%{opacity:0;}
				100%{opacity:1;}
}
@-ms-keyframes bkprofile{
				0%{opacity:0;}
				100%{opacity:1;}
}
@-o-keyframes bkprofile{
				0%{opacity:0;}
				100%{opacity:1;}
}




/* sub2 */
#container02 .conbody02{
	animation: conbody 1.8s 1 ease-in-out;
	-moz-animation: conbody 1.8s 1 ease-in-out;
	-webkit-animation: conbody 1.8s 1 ease-in-out;
	-ms-animation: conbody 1.8s 1 ease-in-out;
	-o-animation: conbody 1.8s 1 ease-in-out;
}
@keyframes conbody{
				0%{opacity:0}
				50%{opacity:0}
				100%{opacity:1}
}
@-moz-keyframes conbody{
				0%{opacity:0}
				50%{opacity:0}
				100%{opacity:1}
}
@-webkit-keyframes conbody{
				0%{opacity:0}
				50%{opacity:0}
				100%{opacity:1}
}
@-ms-keyframes conbody{
				0%{opacity:0}
				50%{opacity:0}
				100%{opacity:1}
}
@-o-keyframes conbody{
				0%{opacity:0}
				50%{opacity:0}
				100%{opacity:1}
}

#container02 .conbody02 .graph {
	        animation: con02graph 2.5s 1 ease-in-out;
	        -moz-animation: con02graph 2.5s 1 ease-in-out;
	        -webkit-animation: con02graph 2.5s 1 ease-in-out;
	        -ms-animation: con02graph 2.5s 1 ease-in-out;
	        -o-animation: con02graph 2.5s 1 ease-in-out;
}
@keyframes con02graph{
				0%{opacity:0}
				75%{opacity:0}
				100%{opacity:1}
}
@-moz-keyframes con02graph{
				0%{opacity:0}
				75%{opacity:0}
				100%{opacity:1}
}
@-webkit-keyframes con02graph{
				0%{opacity:0}
				75%{opacity:0}
				100%{opacity:1}
}
@-ms-keyframes con02graph{
				0%{opacity:0}
				75%{opacity:0}
				100%{opacity:1}
}
@-o-keyframes con02graph{
				0%{opacity:0}
				75%{opacity:0}
				100%{opacity:1}
}

#container02 .conbody02 .abtxt dt{
	animation: con02dt 3s 1 ease-in-out;
	-moz-animation: con02dt 3s 1 ease-in-out;
	-webkit-animation: con02dt 3s 1 ease-in-out;
	-ms-animation: con02dt 3s 1 ease-in-out;
	-o-animation: con02dt 3s 1 ease-in-out;
}
@keyframes con02dt{
				0%{opacity:0}
				80%{opacity:0; transform: translateY(-10px)}
				90%{opacity:1; transform: translateY(0)}
				100%{opacity:1; transform: translateY(0)}
}
@-moz-keyframes con02dt{
				0%{opacity:0}
				80%{opacity:0; transform: translateY(-10px)}
				90%{opacity:1; transform: translateY(0)}
				100%{opacity:1; transform: translateY(0)}
}
@-webkit-keyframes con02dt{
				0%{opacity:0}
				80%{opacity:0; transform: translateY(-10px)}
				90%{opacity:1; transform: translateY(0)}
				100%{opacity:1; transform: translateY(0)}
}
@-ms-keyframes con02dt{
				0%{opacity:0}
				80%{opacity:0; transform: translateY(-10px)}
				90%{opacity:1; transform: translateY(0)}
				100%{opacity:1; transform: translateY(0)}
}
@-o-keyframes con02dt{
				0%{opacity:0}
				80%{opacity:0; transform: translateY(-10px)}
				90%{opacity:1; transform: translateY(0)}
				100%{opacity:1; transform: translateY(0)}
}

#container02 .conbody02 .abtxt dd.sub2dd1 {
animation: sub2dd1 3s 1 ease-in-out;
	-moz-animation: sub2dd1 3s 1 ease-in-out;
	-webkit-animation: sub2dd1 3s 1 ease-in-out;
	-ms-animation: sub2dd1 3s 1 ease-in-out;
	-o-animation: sub2dd1 3s 1 ease-in-out;
}
@keyframes sub2dd1{
				0%{opacity:0; transform:translateY(-10px)}
				85%{opacity:0; transform:translateY(-10px)}
				95%{opacity:1; transform:translateY(0)}
				100%{opacity:1; transform:translateY(0)}
}
@-moz-keyframes sub2dd1{
				0%{opacity:0; transform:translateY(-10px)}
				85%{opacity:0; transform:translateY(-10px)}
				95%{opacity:1; transform:translateY(0)}
				100%{opacity:1; transform:translateY(0)}
}
@-webkit-keyframes sub2dd1{
				0%{opacity:0; transform:translateY(-10px)}
				85%{opacity:0; transform:translateY(-10px)}
				95%{opacity:1; transform:translateY(0)}
				100%{opacity:1; transform:translateY(0)}
}
@-ms-keyframes sub2dd1{
				0%{opacity:0; transform:translateY(-10px)}
				85%{opacity:0; transform:translateY(-10px)}
				95%{opacity:1; transform:translateY(0)}
				100%{opacity:1; transform:translateY(0)}
}
@-o-keyframes sub2dd1{
				0%{opacity:0; transform:translateY(-10px)}
				85%{opacity:0; transform:translateY(-10px)}
				95%{opacity:1; transform:translateY(0)}
				100%{opacity:1; transform:translateY(0)}
}
#container02 .conbody02 .abtxt dd.sub2dd2 {
animation: sub2dd2 3s 1 ease-in-out;
	-moz-animation: sub2dd2 3s 1 ease-in-out;
	-webkit-animation: sub2dd2 3s 1 ease-in-out;
	-ms-animation: sub2dd2 3s 1 ease-in-out;
	-o-animation: sub2dd2 3s 1 ease-in-out;
}
@keyframes sub2dd2{
				0%{opacity:0; transform:translateY(-10px)}
				90%{opacity:0; transform:translateY(-10px)}
				100%{opacity:1; transform:translateY(0)}
}
@-moz-keyframes sub2dd2{
				0%{opacity:0; transform:translateY(-10px)}
				90%{opacity:0; transform:translateY(-10px)}
				100%{opacity:1; transform:translateY(0)}
}
@-webkit-keyframes sub2dd2{
				0%{opacity:0; transform:translateY(-10px)}
				90%{opacity:0; transform:translateY(-10px)}
				100%{opacity:1; transform:translateY(0)}
}
@-ms-keyframes sub2dd2{
				0%{opacity:0; transform:translateY(-10px)}
				90%{opacity:0; transform:translateY(-10px)}
				100%{opacity:1; transform:translateY(0)}
}
@-o-keyframes sub2dd2{
				0%{opacity:0; transform:translateY(-10px)}
				90%{opacity:0; transform:translateY(-10px)}
				100%{opacity:1; transform:translateY(0)}
}

#container02 .conbody02 .graph p.over {
	animation: remouse 1.5s 7 ease-in-out;
	-moz-animation: remouse 1.5s 7 ease-in-out;
	-webkit-animation: remouse 1.5s 7 ease-in-out;
	-ms-animation: remouse 1.5s 7 ease-in-out;
	-o-animation: remouse 1.5s 7 ease-in-out;
}
@keyframes remouse{
				0%{opacity:0}
				100%{opacity:1}
}
@-moz-keyframes remouse{
				0%{opacity:0}
				100%{opacity:1}
}
@-webkit-keyframes remouse{
				0%{opacity:0}
				100%{opacity:1}
}
@-ms-keyframes remouse{
				0%{opacity:0}
				100%{opacity:1}
}
@-o-keyframes remouse{
				0%{opacity:0}
				100%{opacity:1}
}



/* sub3 */

#container03 .conbody03 ul li:nth-child(1) {
    animation: flash1 3.2s 1 ease-in-out;
    -moz-animation: flash1 3.2s 1 ease-in-out;
	-webkit-animation: flash1 3.2s 1 ease-in-out;
	-ms-animation: flash1 3.2s 1 ease-in-out;
	-o-animation: flash1 3.2s 1 ease-in-out;
}
@keyframes flash1{
				0%{opacity:0}
				39%{opacity:0; left:-10px}
				51%{opacity:1; left:0}
				100%{opacity:1; left:0}
}
@-moz-keyframes flash1{
				0%{opacity:0}
				39%{opacity:0; left:-10px}
				51%{opacity:1; left:0}
				100%{opacity:1; left:0}
}
@-webkit-keyframes flash1{
				0%{opacity:0}
				39%{opacity:0; left:-10px}
				51%{opacity:1; left:0}
				100%{opacity:1; left:0}
}
@-ms-keyframes flash1{
				0%{opacity:0}
				39%{opacity:0; left:-10px}
				51%{opacity:1; left:0}
				100%{opacity:1; left:0}
}
@-o-keyframes flash1{
				0%{opacity:0}
				39%{opacity:0; left:-10px}
				51%{opacity:1; left:0}
				100%{opacity:1; left:0}
}

#container03 .conbody03 ul li:nth-child(2) {
    animation: flash2 3.2s 1 ease-in-out;
    -moz-animation: flash2 3.2s 1 ease-in-out;
	-webkit-animation: flash2 3.2s 1 ease-in-out;
	-ms-animation: flash2 3.2s 1 ease-in-out;
	-o-animation: flash2 3.2s 1 ease-in-out;
}
@keyframes flash2{
				0%{opacity:0}
				46%{opacity:0; top:-15px}
				58%{opacity:1; top:0px}
				100%{opacity:1; top:0px}
}
@-moz-keyframes flash2{
				0%{opacity:0}
				46%{opacity:0; top:-15px}
				58%{opacity:1; top:0px}
				100%{opacity:1; top:0px}
}
@-webkit-keyframes flash2{
				0%{opacity:0}
				46%{opacity:0; top:-15px}
				58%{opacity:1; top:0px}
				100%{opacity:1; top:0px}
}
@-ms-keyframes flash2{
				0%{opacity:0}
				46%{opacity:0; top:-15px}
				58%{opacity:1; top:0px}
				100%{opacity:1; top:0px}
}
@-o-keyframes flash2{
				0%{opacity:0}
				46%{opacity:0; top:-15px}
				58%{opacity:1; top:0px}
				100%{opacity:1; top:0px}
}
#container03 .conbody03 ul li:nth-child(3) {
    animation: flash3 3.2s 1 ease-in-out;
    -moz-animation: flash3 3.2s 1 ease-in-out;
	-webkit-animation: flash3 3.2s 1 ease-in-out;
	-ms-animation: flash3 3.2s 1 ease-in-out;
	-o-animation: flash3 3.2s 1 ease-in-out;
}
@keyframes flash3{
				0%{opacity:0}
				54%{opacity:0; left:428px}
				68%{opacity:1; left:438px}
				100%{opacity:1; left:438px}
}
@-moz-keyframes flash3{
				0%{opacity:0}
				54%{opacity:0; left:428px}
				68%{opacity:1; left:438px}
				100%{opacity:1; left:438px}
}
@-webkit-keyframes flash3{
				0%{opacity:0}
				54%{opacity:0; left:428px}
				68%{opacity:1; left:438px}
				100%{opacity:1; left:438px}
}
@-ms-keyframes flash3{
				0%{opacity:0}
				54%{opacity:0; left:428px}
				68%{opacity:1; left:438px}
				100%{opacity:1; left:438px}
}
@-o-keyframes flash3{
				0%{opacity:0}
				54%{opacity:0; left:428px}
				68%{opacity:1; left:438px}
				100%{opacity:1; left:438px}
}     
#container03 .conbody03 ul li:nth-child(4) {
    animation: flash4 3.2s 1 ease-in-out;
    -moz-animation: flash4 3.2s 1 ease-in-out;
	-webkit-animation: flash4 3.2s 1 ease-in-out;
	-ms-animation: flash4 3.2s 1 ease-in-out;
	-o-animation: flash4 3.2s 1 ease-in-out;
}
@keyframes flash4{
				0%{opacity:0}
				54%{opacity:0; left:448px}
				68%{opacity:1; left:438px}
				100%{opacity:1; left:438px}
}     
@-moz-keyframes flash4{
				0%{opacity:0}
				54%{opacity:0; left:448px}
				68%{opacity:1; left:438px}
				100%{opacity:1; left:438px}
}     
@-webkit-keyframes flash4{
				0%{opacity:0}
				54%{opacity:0; left:448px}
				68%{opacity:1; left:438px}
				100%{opacity:1; left:438px}
}     
@-ms-keyframes flash4{
				0%{opacity:0}
				54%{opacity:0; left:448px}
				68%{opacity:1; left:438px}
				100%{opacity:1; left:438px}
}     
@-o-keyframes flash4{
				0%{opacity:0}
				54%{opacity:0; left:448px}
				68%{opacity:1; left:438px}
				100%{opacity:1; left:438px}
}     
#container03 .conbody03 ul li:nth-child(9) {
    animation: flash5 3.2s 1 ease-in-out;
    -moz-animation: flash5 3.2s 1 ease-in-out;
	-webkit-animation: flash5 3.2s 1 ease-in-out;
	-ms-animation: flash5 3.2s 1 ease-in-out;
	-o-animation: flash5 3.2s 1 ease-in-out;
}
@keyframes flash5{
				0%{opacity:0}
				63%{opacity:0; top:210px}
				76%{opacity:1; top:190px }
				100%{opacity:1; top:190px}
}
@-moz-keyframes flash5{
				0%{opacity:0}
				63%{opacity:0; top:210px}
				76%{opacity:1; top:190px }
				100%{opacity:1; top:190px}
}
@-webkit-keyframes flash5{
				0%{opacity:0}
				63%{opacity:0; top:210px}
				76%{opacity:1; top:190px }
				100%{opacity:1; top:190px}
}
@-ms-keyframes flash5{
				0%{opacity:0}
				63%{opacity:0; top:210px}
				76%{opacity:1; top:190px }
				100%{opacity:1; top:190px}
}
@-o-keyframes flash5{
				0%{opacity:0}
				63%{opacity:0; top:210px}
				76%{opacity:1; top:190px }
				100%{opacity:1; top:190px}
}  
#container03 .conbody03 ul li:nth-child(8) {
    animation: flash6 3.2s 1 ease-in-out;
    -moz-animation: flash6 3.2s 1 ease-in-out;
	-webkit-animation: flash6 3.2s 1 ease-in-out;
	-ms-animation: flash6 3.2s 1 ease-in-out;
	-o-animation: flash6 3.2s 1 ease-in-out;
}
@keyframes flash6{
				0%{opacity:0}
				72%{opacity:0; left:126px}
				86%{opacity:1; left:146px}
				100%{opacity:1; left:146px}
}
@-moz-keyframes flash6{
				0%{opacity:0}
				72%{opacity:0; left:126px}
				86%{opacity:1; left:146px}
				100%{opacity:1; left:146px}
}
@-webkit-keyframes flash6{
				0%{opacity:0}
				72%{opacity:0; left:126px}
				86%{opacity:1; left:146px}
				100%{opacity:1; left:146px}
}
@-ms-keyframes flash6{
				0%{opacity:0}
				72%{opacity:0; left:126px}
				86%{opacity:1; left:146px}
				100%{opacity:1; left:146px}
}
@-o-keyframes flash6{
				0%{opacity:0}
				72%{opacity:0; left:126px}
				86%{opacity:1; left:146px}
				100%{opacity:1; left:146px}
}
#container03 .conbody03 ul li:nth-child(7) {
    animation: flash7 3.2s 1 ease-in-out;
    -moz-animation: flash7 3.2s 1 ease-in-out;
	-webkit-animation: flash7 3.2s 1 ease-in-out;
	-ms-animation: flash7 3.2s 1 ease-in-out;
	-o-animation: flash7 3.2s 1 ease-in-out;
}
@keyframes flash7{
				0%{opacity:0}
				82%{opacity:0; top:300px}
				95%{opacity:1; top:285px}
				100%{opacity:1; top:285px}
}
@-moz-keyframes flash7{
				0%{opacity:0}
				82%{opacity:0; top:300px}
				95%{opacity:1; top:285px}
				100%{opacity:1; top:285px}
}
@-webkit-keyframes flash7{
				0%{opacity:0}
				82%{opacity:0; top:300px}
				95%{opacity:1; top:285px}
				100%{opacity:1; top:285px}
}
@-ms-keyframes flash7{
				0%{opacity:0}
				82%{opacity:0; top:300px}
				95%{opacity:1; top:285px}
				100%{opacity:1; top:285px}
}
@-o-keyframes flash7{
				0%{opacity:0}
				82%{opacity:0; top:300px}
				95%{opacity:1; top:285px}
				100%{opacity:1; top:285px}
}   
#container03 .conbody03 ul li:nth-child(5) {
    animation: flash8 3.2s 1 ease-in-out;
    -moz-animation: flash8 3.2s 1 ease-in-out;
	-webkit-animation: flash8 3.2s 1 ease-in-out;
	-ms-animation: flash8 3.2s 1 ease-in-out;
	-o-animation: flash8 3.2s 1 ease-in-out;
}
@keyframes flash8{
				0%{opacity:0}
				82%{opacity:0; top:175px}
				95%{opacity:1; top:190px}
				100%{opacity:1; top:190px}
} 
@-moz-keyframes flash8{
				0%{opacity:0}
				82%{opacity:0; top:175px}
				95%{opacity:1; top:190px}
				100%{opacity:1; top:190px}
} 
@-webkit-keyframes flash8{
				0%{opacity:0}
				82%{opacity:0; top:175px}
				95%{opacity:1; top:190px}
				100%{opacity:1; top:190px}
} 
@-ms-keyframes flash8{
				0%{opacity:0}
				82%{opacity:0; top:175px}
				95%{opacity:1; top:190px}
				100%{opacity:1; top:190px}
} 
@-o-keyframes flash8{
				0%{opacity:0}
				82%{opacity:0; top:175px}
				95%{opacity:1; top:190px}
				100%{opacity:1; top:190px}
}       
#container03 .conbody03 ul li:nth-child(6) {
    animation: flash9 3.5s 1 ease-in-out;
    -moz-animation: flash9 3.5s 1 ease-in-out;
	-webkit-animation: flash9 3.5s 1 ease-in-out;
	-ms-animation: flash9 3.5s 1 ease-in-out;
	-o-animation: flash9 3.5s 1 ease-in-out;
}
@keyframes flash9{
				0%{opacity:0}
				85%{opacity:0}
				100%{opacity:1}
}             
@-moz-keyframes flash9{
				0%{opacity:0}
				85%{opacity:0}
				100%{opacity:1}
}             
@-webkit-keyframes flash9{
				0%{opacity:0}
				85%{opacity:0}
				100%{opacity:1}
}             
@-ms-keyframes flash9{
				0%{opacity:0}
				85%{opacity:0}
				100%{opacity:1}
}             
@-o-keyframes flash9{
				0%{opacity:0}
				85%{opacity:0}
				100%{opacity:1}
}             



#container03 .conbody03 p.mouseclick {
	animation: mouse 1s ease-in-out 15 4s;
	-moz-animation: mouse 1s ease-in-out 15 4s;
	-webkit-animation: mouse 1s ease-in-out 15 4s;
	-ms-animation: mouse 1s ease-in-out 15 4s;
	-o-animation: mouse 1s ease-in-out 15 4s;
}
@keyframes mouse{
				0%{opacity:0}
				100%{opacity:1}
}
@-moz-keyframes mouse{
				0%{opacity:0}
				100%{opacity:1}
}
@-webkit-keyframes mouse{
				0%{opacity:0}
				100%{opacity:1}
}
@-ms-keyframes mouse{
				0%{opacity:0}
				100%{opacity:1}
}
@-o-keyframes mouse{
				0%{opacity:0}
				100%{opacity:1}
}



